.App {
  text-align: center;
  align-items: center;
  background-color: #61dafb;
  width: 1000px;
  height: 300px;
  margin-top: 20%;
 
  margin-left:26% ;
}
.hello{
  text-align: center;
  justify-content: center;
  font-size: 6rem;
  font-weight: 10000;

}
.name{
  margin-bottom: 20%;
  font-size:40px;
  font-weight: 500;
}
.yash{
  color:rgb(216, 17, 17);
  font-size: 4rem;
  font-weight: 50000;
}

